/* =Layout
-----------------------------------------------------------------------------*/
#pageContainer {
	width: 80%;
	position: relative;
	margin: 0 auto 0 auto;
	min-width: 500px;
	
}




#page {
	width: 100%;
	position: relative;
	
}

.loginForm {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 20%;
	width: 400px;
	padding: 50px;
	color: #FFFFFF;
	background: #525252;

}

/* =menu
-----------------------------------------------------------------------------*/
#frontEndMenu ul {  
    list-style-type: none;  
    margin-top: 20px;
    
}  
#frontEndMenu ul li {  
    display: inline;  
    margin: 0;  
}  
#frontEndMenu {
	width: 100%;
	display: inline-block;
	margin: 0!important;
	padding: 0 0 0 10px;
	position: fixed;
	height: 85px;
	overflow-y: visible;
	background: #FFFFFF;
	border-bottom: 1px solid #cecece;
	z-index: 101;
}
.awalogo {
	margin-top: 10px;
	margin-right: 20px;
	width: 184px;
	height: 63px;
	float: left;
}
#frontEndMenu A {
	margin-right: 20px;	
	padding: 5px!important;
	height: 45px;
	display: inline-block;
	line-height: 35px!important;
	font-size: 1.5em;
	color: #777777;
	text-decoration: none;
	font-family: 'Quan'
}
#frontEndMenu ul li A.selected, .moreDropdownMenu li A.selected {
	color: #053478;	
}

.frontEndItem:hover {
	
	cursor: pointer;
	color: #053478!important;
	text-decoration: none;
}
.frontEndItem.selected {
	
	cursor: default;
}

.awaccess {
	position: absolute;
	right:0;
	top: 0;
	
}



/* = more dropdown
-----------------------------------------------------------------------------*/
.dropdownContainer {
	position: absolute;
	right: 100px;
	top: 28px;
	display: none;
	
}
.moreDropdown {
	color: #555;
	margin: 3px -22px 0 0;
	width: 143px;
	position: relative;
	height: 17px;
	text-align:left;
}
.moreDropdown .submenu
{
	
	background: #fff;
	position: absolute;
	top: -12px;
	left: -20px;
	z-index: 200;
	width: 135px;
	display: none;
	margin-left: 5px;
	padding: 46px 0 20px 0;
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.45);
}

.moreDropdownMenu li a {
	line-height: 1em!important;
	display: inline-block;
	margin-left: 10px;
	width: 90%;
	height: 25px!important;
	z-index: 250;
	padding: 0!important;
}

.moreDropdown li a:hover{
   cursor: pointer;
   color: #053478!important;
   text-decoration: none;
    
}
a.more {
	font-size: 11px;
	line-height: 16px;
	color: #555;
	position: absolute;
	z-index: 210;
	display: block;
	padding: 11px 0 0 20px;
	height: 50px;
	width: 121px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	background: url('images/arrow.png') 116px 17px no-repeat;
	cursor:pointer;
}
.moreDropdownMenu
{
	list-style:none;
	margin:0px;
	padding:0px;
	
	padding: 11px 0 0 0px;
	border-top:1px solid #dedede;
}


/* =Typography
-----------------------------------------------------------------------------*/
h1 {
	font-size:4em;
	color: #9F1D63;
	font-family: 'Quan-Light';
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}
h2 {
  font-size: 3em;
  font-family: inherit;
  color: #434343;
  font-family: 'Quan-Light';
  margin-top: 1.8em;
  margin-bottom: 0.2em;

}
.featureBox h2 {
  font-size: 3em;
  color: #FFFFFF;
  font-family: 'Quan-Light';
  margin-top: 0!important;
  margin-bottom: 0.2em;

}

h3.finalcms {
	color: #FFFFFF;
	font-family: 'ProximaNova-Light';
}
h3 {
	font-size: 1.8em;
	font-family: inherit;
	color: #9F1D63;
	text-transform:uppercase; 
	font-family: 'Quan-Book';
}

h4 {
	font-size: 1.8em;
	font-family: inherit;
	color: #9F1D63;
	text-transform:uppercase; 
	font-family: 'Quan-Book';
}

P {
	line-height: 1.2em;
	font-size: 1.5em;
	color: #7a7a7a;
	
}
.pintro {
	margin-right: 0;
	color: #434343;
	font: 2em/1.3em 'Quan-Light';
}

/* =content
-----------------------------------------------------------------------------*/

#banner {
	min-height: 200px;

}
#banner IMG{
	width: 100%!important;
	top: 85px;
	margin: 0 0 80px 0;
	position: relative;
	
}
.smallbanner {
	top: 85px;
	min-height:85px;	
}
.nobanner {
	top: 85px;
	min-height:200px;	
}

.fullContent {
	width: 100%;
	position: relative;
	margin: 0 auto 0 auto;
}

.basicContent {
	width: 80%;
	max-width: 800px;
	position: relative;
	margin: 0 auto 0 auto;
}
.reportDiv {
	width: 80%;
	max-width: 1000px;
	position: relative;
	margin: 0 auto 0 auto;

}

p.margin-right {
	margin-right: 25px;
}


.boxContent P {
	margin: 0;
	padding: 0;
}



/* =Misc
-----------------------------------------------------------------------------*/

.quote {
	color: #053478;
	height: 108px;
	line-height: 58px;
	margin-bottom: 20px;
	padding-top: 25px;
	padding-bottom: 50px;
	font-size:2em;
	font-family: Georgia, 'Times New Roman';
		
}
.quoteText {
	width: 80%;
	margin: 30px auto 0 auto;
	position: relative;
	text-align: center;
	line-height: 1.2em;

}

.quoteText:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -50px;
	top: 10px;
	color: #053478;
}
.quoteText:after {
	display: block;
	content: "\201D";
	font-size: 80px;
	position: absolute;
	right: -50px;
	bottom: -30px;
	color: #053478;
}

.featureBox {
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
	margin-bottom: 0!important;
	background: #7d7d7d;
	background: -moz-linear-gradient(top, #7d7d7d 0%, #7a7a7a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7d7d), color-stop(100%, #7a7a7a));
	background: -webkit-linear-gradient(top, #7d7d7d 0%, #7a7a7a 100%);
	background: -o-linear-gradient(top, #7d7d7d 0%, #7a7a7a 100%);
	background: -ms-linear-gradient(top, #7d7d7d 0%, #7a7a7a 100%);
	background: linear-gradient(to bottom, #7d7d7d 0%, #7a7a7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7d7d', endColorstr='#7a7a7a', GradientType=0);
	
}

.boxContainer {
	width: 100%;
	position: relative;
	margin: 20px auto 0 auto;
	padding-bottom: 0;
	
}
.boxFill {
	background: #FFFFFF;
	text-align: center;
	height: 300px;
	position: relative;
	-moz-box-shadow: 0px 0px 3px #333;
	-webkit-box-shadow: 0px 0px 3px #333;
	box-shadow: 0px 0px 3px #333;
	
}

.boxContent {
	margin: 20px;
	
}

.boxContent IMG {
	margin-bottom: 30px;
	max-height: 140px;
}
.no-boxshadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.dropBlock {
	width: 100%;
	position: relative;
	margin: 0 auto 0 auto;
	background: #434343;
	color: #FFFFFF;
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.boxCross {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
}

.dropBlockContent {
	margin-left: 20%;
	width: 60%;
}
.toBottom {
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
}	

P.report-title {
	font-size: 1.2em;
	line-height: 1em;
	margin-left : 10px!important;
	margin-top: 5px!important;
	
}
.dropblockImage  {
	margin-top: 2em;
}


/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 80%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 60px 0 0 0;
	position: relative;
	height: 55px!important;
	overflow-y: hidden!important;
	background: #FFFFFF;
}


/* =retina
-----------------------------------------------------------------------------*/
@media all and (-webkit-min-device-pixel-ratio: 2.0) {
}


/* =Typography
-----------------------------------------------------------------------------*/

	
/* =Links
-----------------------------------------------------------------------------*/
#cart {
	position: absolute;
	right: 30px;
	top: 25px;
	display: none;
}

#socialmedia {
	position: fixed;
	top: 40%;
	right: 0;
	width: 40px;
	height: 80px;
	z-index: 3000;

}

#socialmedia IMG {
	float: left;
	clear: both;
	margin-bottom: 6px;
}
