<div id="page" >
	
	<div id="banner" class="row editable" contenteditable="true">
	    <img src="/images/frontend/times_square.jpg" alt="" />
	    
	</div>
	
	<div id="c1" class="basicContent">
		<h1 id="h1" class="editable" contenteditable="true">About AWA</h1>
		<p id="p1"  class="pintro editable" contenteditable="true">
			AWA Alexander Watson Associates is a global business-to-business market research, publishing, and advisory services company with a unique focus on the specialty packaging, coating, and converting industries.
		</p>
		<h2 id="h2" class="editable" contenteditable="true">We solve problems and support your information needs</h2>
		<p id="p2"  class="editable" contenteditable="true">Established in 1971 by Alexander Watson, the company has a reputation for providing focused, practical, reliable, and cost-effective information, and for a high degree of integrity in maintaining the confidentiality and trust of its industry information sources. As an added guarantee of consistency and quality assurance, AWA's Principals are personally involved at every stage of a project. In September 1999 Alexander Watson turned the company over to Corey Reardon, the current president &amp; CEO 
		</p>
	</div>
	<div id="c2" class="basicContent editable" contenteditable="true">
	</div>
	
	<p>&nbsp;</p>
	
</div>

	
