<div id="page" >
	
	<div class="row smallbanner editable" contenteditable="true"></div>
	
	<div class="basicContent">
		<h1 id="h1" contenteditable="true">AWA Consulting &amp; Advisory Services</h1>
		<p id="p1" class="editable pintro" contenteditable="true">
			AWA provides a wide range of tailor-made services to individual clients/companies. We take pride in our reputation for providing focused, practical, reliable and cost-effective information, and for a high degree of integrity. 		
		</p>
		<p id="s2" contenteditable="true" class="editable">As a guarantee of consistency and quality assurance, AWA's principals are personally involved at every stage of a project. All research is customizable.</p>
		
	</div>
	<div class="fullContent featureBox">
		<div class="row basicContent">
			<div class="row"><h2 id="s1" contenteditable="true">Types of services</h2></div>
			<div class="row boxContainer">
				
				<div id="box1" class="third boxFill">
					<div  class="boxContent editable" contenteditable="true" id="b1">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h7">Private Client Market research</h3>
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore1">Read more</a>
					</div>
				</div>
				<div id="box2" class="third boxFill">
					<div class="boxContent editable" contenteditable="true" id="b2">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h8">Private Client Consulting</h3>
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore2">Read more</a>
					</div>
				</div>
				<div id="box3" class="third boxFill">
					<div class="boxContent editable" contenteditable="true" id="b3">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h9">Business Development Studies</h3>
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore3">Read more</a>
					</div>
				</div>
				
			</div>
			
		
	</div>
	
	<div class="fullContent ">
		<div id="readmore1" class="row dropBlock">
				<div class="boxCross"><a href="#box1"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
				<div class="dropBlockContent">
					<h1 class="white" contenteditable="true" id="h10">Private Client Market research</h1>
					<p id="p9"  class="offwhite" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mi mauris. In vel condimentum nunc, ut tincidunt mauris. Morbi accumsan odio sit amet varius vulputate</p>
				</div>
			</div>
			<div id="readmore2"  class="row dropBlock">
				<div class="boxCross"><a href="#box2"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
				<div class="dropBlockContent">
					<h1 class="white" id="h11" contenteditable="true">Private Client Consulting</h1>
					<p id="p10" class="offwhite" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mi mauris. In vel condimentum nunc, ut tincidunt mauris. Morbi accumsan odio sit amet varius vulputate</p>
				</div>
			
			</div>
			<div id="readmore3"  class="row dropBlock">
				<div class="boxCross"><a href="#box3"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
				<div class="dropBlockContent">
					<h1 class="white" id="h12" contenteditable="true">Business Development Studies</h1>
					<p id="p11" class="offwhite" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mi mauris. In vel condimentum nunc, ut tincidunt mauris. Morbi accumsan odio sit amet varius vulputate</p>
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="basicContent margin-top-100">
		<h2 id="h13" class="margin-top-100" contenteditable="true">Tailor made projects</h2>
		<p id="p12" class="editable" contenteditable="true">
			We conduct individual customer market and business development assessments tailored specifically to your company's requirements. 
			Based on your required deliverables, estimated time frame and budget, our research team will prepare a research proposal based on your needs. 
		</p>
		<p  id="p13" class="editable" contenteditable="true">
			Examples of private clients projects we have performed include: Benchmarking, Customer Satisfaction and Image Surveys, Market Segmentation, Strategic Planning,New Product and Market feasibility Studies, Acquisition and joint venture assessment, Opportunity Assessments, Opportunity creation
			
		</p>
		<p>&nbsp;</p>
	</div>
	
</div>

	
