<div id="page" >
	
	<div class="row smallbanner editable" contenteditable="true"></div>
	
	<div class="basicContent" id="c1">
		<h1 id="h1"  contenteditable="true">Head office</h1>
		<div class="row">
			<div id="d1" class="third editable" contenteditable="true">
				
				<h3  class="gray-dark">Visiting/Shipping Address:</h3>
				<p>
					Koningin Wilhelminaplein 13<br /> 
					2.10.03 (Tower 2, Floor 10, Suite 3)<br />
					1062 HH Amsterdam<br />
					The Netherlands<br />
					+31 (0) 20 676 20 69
				</p>
				<h3  class="gray-dark">Postage Address:</h3>
				<p>
					PO Box 69035<br />
					1060 CA Amsterdam<br />
					The Netherlands
				</p>
				<h3 class="gray-dark">E-MAIL ADDRESSES</h3>
				<p>
					Events: <a href="mailto:events@awa-bv.com">events@awa-bv.com</a><br />
					Reports: <a href="mailto:reports@awa-bv.com">reports@awa-bv.com</a><br />
					General: <a href="mailto:info@awa-bv.com">info@awa-bv.com</a><br />
					Marketing &amp; Communication: <a href="mailto:c.hake@awa-bv.com">c.hake@awa-bv.com</a><br />
				</p>
			</div>
			<div class="twothird editable push-right" id="d2" contenteditable="true">
				<img src="/images/frontend/map-small.png" />
			</div>
		</div>
		<div class="row">
			<div id="d3" class="third editable"  contenteditable="true">
				<h3>UK Office</h3>
				<p>
					1 Bryngwilym<br />
					Ystrad, Pentre CF41 7RU<br />
					United Kingdom<br />
					Phone: +44 (0) 1443 42 12 57<br />
					Fax: +44 (0) 1443 42 12 57
				
				
				</p>
			</div>
			<div id="d4" class="third editable"  contenteditable="true">
				<h3>North American Office</h3>
				<p>
					910 N Lakeshore Drive, # 2415<br />
					Chicago, IL 60611<br />
					USA<br />
					Phone: +1 312 943 4091<br />
					Fax: +1 312 475 0395
				</p>
			</div>
			<div id="d5" class="third editable" contenteditable="true">
				<h3>Asian Office</h3>
				<p>
					4/470 Theparak Rd.<br />
					Bangsaothong<br />
					Samutprakarn<br />
					10540<br />
					Thailand
				
				</p>
			</div>
		</div>
				
	</div>
	<p>&nbsp;</p>
	
</div>
