<div id="page" >
	
	<div id="banner" class="row editable" contenteditable="true">
	    <img src="/images/frontend/banner-small.jpg" alt="" />
	    
	</div>
	
	<div class="basicContent">
		<h1 id="h1" contenteditable="true">We solve problems and support your information needs</h1>
		<p id="p1" class="editable pintro" contenteditable="true">
			AWA Alexander Watson Associates is a company with a unique industry focus on the specialty paper, film, packaging, coating and converting sector. AWA provides a complement of Market Research, Events, Business Development and Advisory Services. We have been providing clients with expertise knowledge since 1971.			
		</p>
		<div class="row text-centered">
			<div class="half"><a href="/reports" class="btn btn-purple width-full" contenteditable="true" id="b4">market research</a></div>
			<div class="half"><a href="/events" class="btn btn-purple width-full" contenteditable="true" id="b5">conferences &amp; Events</a></div>
		</div>
		<div class="row text-centered">
			<div class="half"><a href="/consulting" class="btn btn-purple width-full" contenteditable="true" id="b6">Consulting services</a></div>
			<div class="half"><a href="/mergers-and-acquisitions" class="btn btn-purple width-full" contenteditable="true" id="b7">M&amp;A services</a></div>
		</div>
		
	</div>
	
		
	<div class="fullContent featureBox">
		<div class="row basicContent">
			<div class="row"><h2  id="s1" contenteditable="true">What's new</h2></div>
			<div class="row boxContainer">
				<div id="box1" class="third boxFill">
					<div class="boxContent editable" contenteditable="true" id="b1">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h7" >GLOBAL IN-MOLD LABEL MARKET STUDY
						</h3>						
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore1">Read more</a>
					</div>
				</div>
				<div id="box2" class="third boxFill">
					<div class="boxContent editable" contenteditable="true" id="b2">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h8">LABEL RELEASE LINER INDUSTRY SEMINAR
						</h3>
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore2">Read more</a>
					</div>
				</div>
				<div id="box3" class="third boxFill">
					<div class="boxContent editable" contenteditable="true" id="b3">
						<img src="/images/frontend/document-icon.png" width="66" height="98" />
						<h3 id="h9">SPECIALTY PAPER INDUSTRY SEMINAR
						</h3>	
					</div>
					<div class="toBottom">
						<a class="btn readmore" href="#readmore3">Read more</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="fullContent">
		<div id="readmore1" class="row dropBlock">
			<div class="boxCross"><a href="#box1"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
			<div class="dropBlockContent">
				<h1 id="h10" class="white editable" contenteditable="true">Global In-Mold Label Market Study &amp; Sourcebook 2013</h1>
				<p id="p10" class="offwhite editable" contenteditable="true">Because the in-mold label market structure is complex, specialized expertise is essential to successfully operate in this industry. This study will bring you up-to-speed on the opportunities this labeling technology offers. Our Global In-Mold Label Market Study 2013 presents an overview of the global and regional in-mold label markets. Each region is segmented by application, end-use, and material. In addition, the report gives an overview of technology trends for materials, printing technologies, and molding. The study also looks into the future of in-mold labeling and in-mold decoration. It concludes with the company directory section which presents an overview of key players in the industry. Published in July of 2013</p>
				<p id="l1" contenteditable="true"><a target="_blank" href="/download/report-previews/Global_In-mold_Label_Market_Study_2013.pdf" class="btn btn-small">View report</a></p>
			</div>
		</div>
		<div id="readmore2"  class="row dropBlock">
			<div class="boxCross"><a href="#box2"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
			<div  class="dropBlockContent">
				<h1 id="h11" class="white editable" contenteditable="true">Label Release Liner Industry Seminar</h1>
				<p  id="p11" class="offwhite editable" contenteditable="true">The AWA Label Release Liner Seminar pulls together experts in their respective disciplines and addresses the key issues and opportunities for release liners used in self-adhesive labeling across the value chain. This seminar offers an interesting and comprehensive program, complemented by networking opportunities. The event will feature presentations by key industry players presenting available release liner and related technologies, discussing today’s industry issues, and giving up-to-date information on the market and its evolving platforms of opportunities. In addition to the formal event program, there will be a table top exhibition and an extensive networking program.</p>
				<p id="l2" contenteditable="true"><a target="_blank" href="/download/event-brochures/Label_Release_Liner_Industry_Seminar.pdf" class="btn btn-small">View brochure</a></p>
			</div>
		
		</div>
		<div id="readmore3"  class="row dropBlock">
			<div class="boxCross"><a href="#box3"><img src="/images/frontend/cross.png" width="40" height="40" alt="X" /></a></div>
			<div class="dropBlockContent">
				<h1 id="h12" class="white editable" contenteditable="true">Specialty Paper Industry Seminar</h1>
				<p id="p12" class="offwhite editable" contenteditable="true">The Specialty Paper Industry Conference is the key industry event offering presentations by experts and industry leaders from across the value chain to assist industry participants in all relevant disciplines to define current status and trends, as well as future opportunities and issues. And this year, the conference returns to Chicago! The whole supply chain, from papermakers, pulp manufacturers, and raw material suppliers to industry consultants and analysts comes to the conference to get in-depth market updates, talk business, and discuss the newest developments and trends.</p>
				<p id="l3" contenteditable="true"><a target="_blank" href="/download/event-brochures/Specialty_Paper_Industry_Conference_2013.pdf" class="btn btn-small">View brochure</a></p>
			</div>
		
		</div>
	</div>
	
	
	<div class="basicContent">
		<div class="row margin-top-50 editable" id="c7" contenteditable="true">
			<h2>About our services</h2><br />
			<h3>Market research</h3>
			<p>Our portfolio of published market studies offers a unique competitive advantage: Reports containing actionable and relevant information, in-depth opportunity and market assessments, and strategic market insight.</p>

			<h3>Conferences &amp; events</h3>
			<p>We organize a portfolio of industry events designed to provide a platform for Information exchange, networking, and opportunities for commercial exposure and promotion. AWA events deliver current industry and market information for sound decision-making.</p>
	
			<h3>CONSULTING SERVICES</h3>
			<p>Our private client services are tailored to your needs, providing proprietary reports focused on your requirements and business. Actionable and relevant information, in-depth assessments, and strategic market insight giving you a competitive advantage. We adhere to strict confidentiality. </p>

			<h3>M&amp;A SERVICES</h3>
			<p>Our <i>Outcome-Driven</i> market related due diligence and M&A services provide the support necessary for high value, no surprise transactions. In-depth knowledge and market understanding, positioning assessments and growth opportunities necessary to succeed. AWA is your <i>go-to</i> expert.</p>
			
		</div>
	</div>
	<div class="basicContent">
	<hr />	
	</div>
	<div class="basicContent quote">
		<div class="quoteText"  id="eq" contenteditable="true">The difference between simply surviving and strategic growth is the intelligence that defines your strategy</div>
	</div>
</div>

