<div id="page" >
	
	<div class="row smallbanner editable" contenteditable="true"></div>
	
	<div id="c1" class="basicContent editable" contenteditable="true">
		<h1>Market Due diligence services</h1>
		<p>Making an acquisition means considering not only the performance of an individual business, but also the context in which the business operates. Without understanding the market conditions of the sector a company operates in, and its competition within a specific industry, it is impossible to arrive at a realistic valuation.</p>
		<p>Because we have been active in the industry since 1971 and publish a broad portfolio of focused market studies per year we have a solid understanding of the industry and are always aware of the latest trends and developments.</p>
		<p>A whole range of factors can influence the competitive state of a market. These include technology, customers, legislation, and the emergence of new geographic markets. Each of these needs to be considered for the impact that they might exert on the future value of an acquisition.</p>
		<p>Our market due diligence services are supported by our unique industry knowledge and our broad geographical reach. Our understanding of our specific target markets allows us to assess assumptions and projections and provide efficient, cost-effective services in a timely manner.</p>
		<h2><strong>Useful for Buyers</strong></h2>
		<p>Our market due-diligence services provide potential buyers thorough and objective information about the market the target company operates in. Our extensive experience in the packaging, specialty paper, film, coating and converting sector means that we can help our clients spot opportunities and advise them on all the relevant factors to help them establish themselves in the appropriate markets. Our market Due Diligence reports facilitate the buying process as you do not have to perform (or can limit) your own time consuming and expensive research.</p>
		<h2><strong>Useful for vendors</strong></h2>
		<p>Market due diligence also has advantages for Vendors. Your company will only have to be researched once, and limits the necessity of giving potential buyers exclusive access in a too early stage. Additionally, you will be the first to receive the due diligence findings. This saves you from being presented new facts by buyers. </p><p><strong>Our services result in a less cumbersome and more efficient due diligence process, meaning your organization may only have one report rather than two or three. This saves you time and of course, cost.</strong></p>
		
		
	</div>
	<p>&nbsp;</p>
	
</div>

	
