<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Dear <param1>,</p>
<p>An account was created for you on <b><param2></b> with the following username:</p>
<p><param1></p>
<p>You can set your password by clicking the link below:</p>
<p><a href="<param3>"><param4></a></p>
<p>Once you are signed in you can change your password without limitation. We advice to reset your password every month.</p>
<p>When you forgot your password you can reset it by clicking the link on login-screen. You will then receive an e-mail with instructions. Resetting your password via the login-screen can only be done once every 24 hours.</p>
<p>With kind regards,</p>
<p><param5></p>
</div>
<div><img src="cid:logo.png" width="184" height="63" alt="" /></div>
</body>
</html>