<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Dear <recipient>,</p>
<p>Event registration on the following event from <b><site></b></p>
<p><cartData><br />
Price: <strong><totalprice></strong></p>

<p><strong>Registration details:</strong></p>
<table border="0">
	<tr>
		<td>First name</td>
		<td>: <firstname></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>: <lastname></td>
	</tr>
	<tr>
		<td>Company name</td>
		<td>: <company></td>
	</tr>
	<tr>
		<td>Job title</td>
		<td>: <jobtitle></td>
	</tr>
	<tr>
		<td>Address</td>
		<td>: <address></td>
	</tr>
	<tr>
		<td>Zip/Postal code</td>
		<td>: <zipcode></td>
	</tr>
	<tr>
		<td>City</td>
		<td>: <city></td>
	</tr>
	<tr>
		<td>State/Province/County</td>
		<td>: <province></td>
	</tr>
	<tr>
		<td>Country</td>
		<td>: <country></td>
	</tr>
	<tr>
		<td>VAT#</td>
		<td>: <vat></td>
	</tr>
	<tr>
		<td>E-mail</td>
		<td>: <email></td>
	</tr>
	<tr>
		<td>Registration fee</td>
		<td>: <regfee></td>
	</tr>
	<tr>
		<td>Additional options</td>
		<td>: <paymentfee></td>
	</tr>
	<tr>
		<td>Payment method</td>
		<td>: <paymentmethod></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2"><strong>Creditcard details when applicable</strong></td>
	</tr>
	<tr>
		<td>Creditcard no.</td>
		<td>: <creditcardnumber></td>
	</tr>
	<tr>
		<td>Cardholder name</td>
		<td>: <cardholdername></td>
	</tr>
	<tr>
		<td>Cardholder address</td>
		<td>: <cardholderaddress></td>
	</tr>
	<tr>
		<td>CVC code</td>
		<td>: <cvccode></td>
	</tr>
	<tr>
		<td>Valid thru</td>
		<td>: <validthru></td>
	</tr>
	<tr>
		<td>Card type</td>
		<td>: <cardtype></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>Found us via:</td>
		<td>: <inforeceived></td>
		
	</tr>
	<tr>
		<td>Remarks</td>
		<td>: <remark></td>
	</tr>
</table>



<p>With kind regards,</p>
<p><signature></p>
</div>
<div><img src="cid:logo.png" width="184" height="63" alt="" /></div>
</body>
</html>