<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Dear <recipient>,</p>
<p>Thank you for your registration</p>
<p>We have received your registration for the <cartData> and will process it shortly. You will receive a confirmation e-mail with more details about the event including information about reserving hotel accommodation.</p>
<p>Kind regards,</p>
<p><signature></p>
</div>
<div><img src="cid:logo.png" width="184" height="63" alt="" /></div>
</body>
</html>