<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Dear <param1>,</p>
<p>We received a password request for <b><param2></b>. You can ignore this e-mail when you did not made this request yourself.</p>
<p>You can reset your password by clicking the link below and follow the instructions</p>
<p><a href="<param3>"><param4></a></p>
<p>Note that you can only reset your password once every 24 hours. Also make sure your password is to difficult to guess and easy to remember.</p>
<p>With kind regards,<br /><param5></p>
</div>
<div><img src="cid:logo.png" width="184" height="63" alt="" /></div>
</body>
</html>