<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Dear <recipient>,</p>
<p>Thank you for your order. Below an overview of your order:</p>
<table border="0" cellpadding="5" cellspacing="0" width="500">
	<thead>
		<tr>
			<th align="left" bgcolor="#323232"><font color="#FFF">Title</font></th>
			<th align="left" bgcolor="#323232"><font color="#FFF">Price</font></th>
		</tr>
	</thead>
	<tbody>
		<cartData>
	</tbody>
	<tfoot bgcolor=”#000000”>
		<tr>
			<td bgcolor="#323232"><font color="#FFF">Total price</font></td>
			<td bgcolor="#323232"><font color="#FFF"><totalprice></font></td>
		</tr>
	</tfoot>
</table>
<p><strong>Your remark:</strong></p>
<p><remark></p>

<p>With kind regards,</p>
<p><signature></p>
</div>
<div><img src="cid:logo.png" width="184" height="63" alt="" /></div>
</body>
</html>