<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Geachte <param1>,</p>
<p>Er is een account voor u aangemaakt op <b><param2></b> met de volgende gebruikersnaam:</p>
<p><param1></p>
<p>U kunt een (nieuw) wachtwoord instellen door op de onderstaande link te klikken en de instructies op te volgen.</p>
<p><a href="<param3>"><param4></a></p>
<p>Eenmaal ingelogd kunt uw wachtwoord onbeperkt wijzigen. Wij raden u aan dit eens per maand te doen.</p>
<p>Bent u uw wachtwoord vergeten kunt deze via het inlogscherm opvragen. U krijgt dan een e-mail op dit e-mail adres met instructies. Dit kan slechts eenmaal per 24 uur.</p>
<p>Met vriendelijke groet,</p>
<p><param5></p>
</div>
<div><img src="cid:logo.png" width="392" height="53" alt="" /></div>
</body>
</html>