<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p><b>Contactformulier FinalCMS</b><p>
<p>
<table border="0">
	<tr>
		<td><b>Naam</b></td>
		<td>: <param1></td>
	</tr>
	<tr>
		<td><b>E-mailadres</b></td>
		<td>: <param2></td>
	</tr>
	<tr>
		<td><b>Telefoonnummer</b></td>
		<td>: <param3></td>
	</tr>
	<tr>
		<td colspan="2"><b>Opmerking of vraag:<b></td>
	</tr>
	<tr>
		<td colspan="2"><param4></td>
	</tr>
</table>
</p>
</div>
<div><img src="cid:logo.png" width="277" height="56" alt="" /></div>
</body>
</html>