<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<title></title>
</head>
<body>
<div>
<p>Geachte <param1>,</p>
<p>Er is een aanvraag ontvangen om uw wachtwoord te resetten voor <b><param2></b>. Indien u dit niet zelf hebt gedaan kunt u deze e-mail negeren.</p>
<p>U kunt een nieuw wachtwoord instellen door op de onderstaande link te klikken en de instructies op te volgen.</p>
<p><a href="<param3>"><param4></a></p>
<p>Let op dat u uw wachtwoord slechts 1x per 24 uur kunt wijzigen. Zorgt u ervoor dat het wachtwoord goed te onthouden maar niet gemakkelijk te raden is.</p>
<p>Met vriendelijke groet,<br /><param5></p>
</div>
<div><img src="cid:logo.png" width="392" height="53" alt="" /></div>
</body>
</html>